/* body {
height: 5000px;
} */


#toggletag
{
  margin-left: 20px;
  margin-right: 7px;
  /* margin-right: 5px; */

}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(236, 236, 236);
  /* background-color: rgb(216, 185, 185); */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 80px; */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
/* .sidenav a {
  padding: 10px;
  padding-left: 40px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  transition: 0.3s;
} */

.aa
{
  padding: 10px;
  padding-left: 40px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  transition: 0.3s;
}

.aa:hover {
  background-color: #ffe8c7;
  text-decoration: none;
  color: #000;
  transition: 0.1s;
}

.sidenav .closebtn {
  position: absolute;
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 22px;
  color: black;
  text-align: right;
  padding-top: 8px;
  padding-right: 20px;
  font-size: 42px;
  background-color:#d9d9d9 ;

}

.closebtn
{
  margin-top: -9px ;
  padding-bottom: 6px;
}

nav.navbar
{
  background-color: #f4f4f4 !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .1s;
  margin-top: 80px;
}

.box
{
    margin: 20px;
    padding: 20px;
    width : auto;
    height: 450px;
}

#b1{background-color: #f3e3c2;}
/* #b1{background-color: #f4eddd;} */
#b2{background-color: #cdddd2;}
#b3{background-color: #c9e6ff;}
#b4{background-color: #aefdf0;}



.footer{
  /* position: fixed; */
  bottom: 0;
  background-color: #c3c3c3;
  width: auto;  
  height: auto;
  padding: 20px;
}

.accordion-button1
{
  font-weight: 500 !important;
  background-color: #c3c3c3 !important; 
}
.accordion-item1
{
  background-color: #c3c3c3 !important; 
}

.accordion-body1{
  background-color: #d7d5d5 !important;
}


.footer2
{
  margin-top: 50px;
  text-align: center;
}
.footer2a
{
  margin-right: 25px;
}

.footer3
{
  padding: 20px;
  text-align: center;
  font-weight: 500;
  
}

.footer4
{
  background-color: #c3c3c3 !important; 
  border: 1px solid black;
  font-weight: 500;
  width: auto;
  height: 50px;
  padding: 10px;
  padding-left: 18px;
}

.footerimg
{
  margin-left: 250px;
}



.footer5
{
  background-color: #c3c3c3 !important; 
  text-align: center;
  font-weight: 500;
  padding-top: 70px;
}




/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
.popup .overlay
{
  position : fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.780);
  z-index: 1;
  display: none;
}

.popup .content
{
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 91%;
  height: 620px;
  z-index: 2;
  margin-top: 430px;
  text-align: left;
  box-sizing: border-box;
}

.contentauth
{
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 91%;
  height: 500px !important;
  z-index: 2;
  margin-top: 430px;
  text-align: left;
  box-sizing: border-box;

}

.popup .content h1
{
  background-color: #f3e8d3;
  color: #000;
  font-size: 22px;
  padding: 25px;
  padding-left: 30px;

}

.settings1
{
  color: #000;
  font-size: 22px;
  padding-left: 30px;
}

.setdivvv
{
  text-decoration: none;
  margin-top: 15px;
}
.setdiv
{
  padding: 6px;
  padding-left: 30px;
}

.popup .close-btn
{
  position: absolute;
  right: 25px;
  top: 25px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay
{
  display: block;
}

.popup.active .content
{
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* --------------------- POPUP 2 -----------------------------*/





/* --------------------------- LOGIN PAGE-------------------- */
/* ---------------------------------------------------------- */

.flashclose
{
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  right: 10px;
  top: 0;
  border: none;
  background: none;
  font-size: 35px;
}

.loginh2
{
  /* margin-top: 120px; */
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.form-group
{
  margin: 10px !important;
  font-size: 18px !important;
}
.my-2
{
  padding: 13px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border: 1px solid rgb(120, 120, 120) !important;
  border-radius: 0px !important;
}

.forgetdiv
{
  width: 100%;
  text-align: right;
  padding: 5px;
  padding-right: 13px;
  margin-bottom: 15px;
}
.forgetpass
{
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
.btndiv
{
  margin: 10px !important;
  
}
.btn
{
  border-radius: 0px !important;
  font-size: 20px !important;
  width: 100% !important;
  padding: 12px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}


.infodiv
{
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-top: -5px;
}

.infomsg
{
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */



/* ------------------- Sign Up Page ------------------- */
.form-check-input
{
  border: 1px solid black !important;
}

.signuph2
{
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.form-groupsignup1
{
  margin-top: 15px !important ;
}
.form-groupsignup
{
  margin: -5px;
  margin-bottom: 20px;
  font-size: 18px !important;
}
.my-2signup
{
  padding: 13px !important;
  margin-top: 5px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border: 1px solid rgb(120, 120, 120) !important;
  border-radius: 0px !important;
}



.accordionp
{
  margin-left: 10px;
  margin-bottom: -5px;
  font-size: 19px;
}

.accordionsignup
{
  /* background-color: #aefdf0; */
  /* margin-top: 40px !important; */
  margin: 10px;
  border: 1px solid rgb(119, 119, 119) !important;
}
.accordion-item11
{
  border-radius: 0px !important;
  border: none !important;
}
.accordion-bodysignup
{
  background-color: #f8f8f8;
}


/* ------------------- Account Setting Page ------------------- */

.acch2
{
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

/* .acc-container
{
  background-color: #f1f1f1;
} */

.card-title
{
  font-size: 16px;
  font-weight: 400;
}
.card-text
{
  font-size: 18px;
  font-weight: 500;
}






/* ---------------------------------------------------------- */
/* ---------------------- INFO PAGE ---------------------- */
.infobox
{
    margin: 20px;
    padding: 20px;
    width : auto;
    height:290px;
}









/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-device-width: 480px)
{
  /* .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} */
}